
.category-dropdown {
    position: absolute;
    top: 60px;
    left: 20px;
    width: auto;
    min-width: 300px;
    background: var(--color-panel-bg);
    z-index: 1000;

    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    max-height: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    pointer-events: none;
}

.category-dropdown.open {
    max-height: 700px;
    opacity: 1;
    pointer-events: all;
    padding: 15px;
}

.category-panel_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.category-item {
    width: 100%;
    text-align: center;
    padding: 15px 25px;
    border-radius: 6px;
    border: 1px solid transparent;
    background: var(--color-bg);
    font-size: 16px;
    color: #333;
    transition: 0.2s ease;
}

.category-item:hover {
    background: var(--color-bg-hover);
}

.category-item.active {
    background: var(--color-bg);
    color: #ff6b35;
    border-color: #ff6b35;
    font-weight: 600;
}