.fic-card {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    background: var(--color-bg);
    max-width: 850px;
    width: 100%;
    min-height: 350px;
    padding: 1.5rem;
    border-radius: 13px;
    border: 1px solid rgba(62, 76, 50, 0.20);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    box-sizing: border-box;
}

.fic-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.fic-card_image {
    flex: 0 0 200px;
}

.fic-card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.fic-card_image img:hover{
    cursor: pointer;
}

.fic-card_content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.fic-card_title {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-text);
}

.fic-card_title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fic-card_author {
    margin: 0.2rem 0 1rem;
    color: var(--color-text-additional);
}

.fic-card_author span {
    font-weight: 500;
    cursor: pointer;
}

.fic-card_author span:hover {
    color: var(--color-text);
    text-decoration: underline;
}

.fic-card_stats {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: center;
}

.badge {
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    font-family: var(--font-tag);
}

.badge-rating-General {
    background: var(--color-badges-rating-G);
}
.badge-rating-Teen {
    background: var(--color-badges-rating-T);
}
.badge-rating-Mature {
    background: var(--color-badges-rating-M);
}
.badge-rating-Explicit {
    background: var(--color-badges-rating-E);
}

.badge-relationship-F\/F { background: var(--color-rel-ff); }
.badge-relationship-M\/M { background: var(--color-rel-mm); }
.badge-relationship-F\/M { background: var(--color-rel-fm); }
.badge-relationship-Gen { background: var(--color-rel-gen); }
.badge-relationship-Multi { background: var(--color-rel-multi); }
.badge-relationship-Other { background: var(--color-rel-other); }

.badge-status-Ongoing {
    background: var(--color-status-ongoing);
}
.badge-status-Completed {
    background: var(--color-status-completed);
}
.badge-status-Freezed {
    background: var(--color-status-freezed);
}

.pages-count {
    font-size: 0.9rem;
    color: var(--color-text-additional);
    margin-left: auto;
}

.fic-card_tags {
    margin-bottom: 1rem;
}

.fic-card_tag {
    font-size: 0.9rem;
    color: var(--color-text);
    background-color: var(--color-tags);
    margin-right: 8px;
    opacity: 0.8;
    border-radius: 10px;
    padding: 3px 5px;
    transition: background 0.2s;
}


.fic-card_tag:hover {
    cursor: pointer;
    opacity: 1;
    background-color: var(--color-tags-hover);
}

.fic-card_summary {
    font-size: 0.95rem;
    line-height: 1.5;
    color: #444;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.fic-card_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.warnings-text {
    font-size: 0.85rem;
    color: var(--color-main-orange);
    font-style: italic;
}

@media (max-width: 600px) {
    .fic-card {
        flex-direction: column;
        max-width: 400px;
        min-height: auto;
    }

    .fic-card_image {
        flex: 0 0 250px;
    }

    .pages-count {
        margin-left: 0;
    }
}