
.profile-page {
    margin: 40px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 900px;
}

.profile-header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.profile-avatar {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #eee;
}

.profile-info {
    max-width: 500px;
    align-self: start;
    padding-top: 30px;
}

.profile-info h2 {
    font-size: 28px;
    margin: 0 0 10px 0;
    color: #333;
}

.profile-bio {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}


.btn-action {
    padding: 8px 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}


.profile-tabs {
    border-top: 1px solid #eee;
    margin-top: 20px;
}

.tabs-nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.tab-btn {
    background: none;
    border: none;
    border-radius: unset;
    padding: 15px 5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text-additional);
    cursor: pointer;
    position: relative;
}

.tab-btn.active {
    color: var(--color-text);
    font-weight: 700;
}

.tab-btn.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-main-green);
}

.fanfics-list {
    display: grid;
    gap: 20px;
}

.fanfic-card {
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 12px;
    transition: 0.2s;
}

.fanfic-card:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}