
.welcome-container {
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    font-family: var(--font-text);
    font-size: 1.2rem;
}

.welcome-container span{
    font-family: var(--font-main-name);
    font-size: 3rem;
    font-weight: 600;
}

.welcome-container button {
    height: 50px;
    width: 230px;
    font-size: 1.2rem;
}

.welcome-container::-webkit-scrollbar {
    display: none;
}

.welcome-elem {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.welcome-logo {
    display: flex;
    flex-direction: row;
    font-family: var(--font-main-name);
    font-size: 7rem;
    font-weight: 600;
    color: var(--color-main-brown);
}

.welcome-logo span {
    color: var(--color-main-orange);
    font-size: 6rem;
}

.welcome-goal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    color: var(--color-main-green);
}

.welcome-register {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
    box-sizing: border-box;
    background-color: var(--color-bg);
}

.register-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
}

.register-title {
    text-align: center;
    margin-bottom: 2rem;
}

.register-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}

.register-imgs img {
    width: 240px;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.register-imgs img:hover {
    transform: translateY(-10px) rotate(2deg); /* Легкий грайливий ефект */
}

.welcome-register button {
    margin-top: 2rem;
}

.register-content span {
    color: var(--color-main-brown);
}



@media (max-width: 768px) {
    .welcome-goal {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        gap: 2rem;
    }
}

