
body {
    margin: 0;
    font-family: var(--font-text), monospace;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s ease;
}


/*---------------Buttons---------------------------*/
button {
    border: none;
    padding: 10px 30px;
    border-radius: 40px;
    cursor: pointer;
    transition: background 0.2s;
    font-family: var(--font-btn), monospace;
    font-size: 1rem;
}

.button-green {
    background-color: var(--color-btn-nocur-1);
    color: white;
}

.button-green:hover {
    background-color: var(--color-btn-cur-1);
}
/*-------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/