/* index.css */

body {
    margin: 0;
    font-family: var(--font-text), monospace;
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s ease;
}


/*---------------Buttons---------------------------*/
button {
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.2s;
}

.button-green {
    background-color: var(--color-btn-nocur-1);
    color: white;
}

.button-green:hover {
    background-color: var(--color-btn-cur-1);
}
/*-------------------------------------------------*/

/*---------------FanficList---------------------------*/
.fanfic-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}
/*-----------------------------------------------------*/

/*---------------FicCard---------------------------*/
.fic-card {
    width: 700px;
    height: 400px;
    align-content: baseline;
    padding: 1.5rem;
    border-radius: 13px;
    border: 1px solid rgba(62, 76, 50, 0.20);
    background: var(--color-bg);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.fic-card:hover {
    transform: translateY(-4px);
}

.fic-card__title {
    font-weight: 600;
}

.author {

}
/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/

/*---------------   ---------------------------*/

/*-----------------------------------------------------*/