/*Відсоток (%),HEX-код,Відсоток (%),HEX-код*/
/*100%,FF,45%,73*/
/*95%,F2,40%,66*/
/*90%,E6,35%,59*/
/*85%,D9,30%,4D*/
/*80%,CC,25%,40*/
/*75%,BF,20%,33*/
/*70%,B3,15%,26*/
/*65%,A6,10%,1A*/
/*60%,99,5%,0D*/
/*55%,8C,3%,08*/
/*50%,80,0%,00*/

:root {
    --color-bg: #FAF3E0;
    --color-bg-hover: #e1ddcf;
    --color-bg-elem: #FFE1AF;
    --color-bg-register: #8FB86C80;
    --color-bg-login: #8FB86C80;

    --color-main-green: #3E4C32;
    --color-main-orange: #D5451B;
    --color-main-yellow: #E9B20D;
    --color-main-brown: #7A381C;

    --color-additional-green: #5C7B42;
    --color-additional-orange: #E25E28;
    --color-additional-yellow: #E9B20D;


    --color-text: #333;
    --color-text-additional: #666;


    --color-tags: #A92D2D1A;
    --color-tags-hover: #EDBDA9;


    --color-badges-rating-G: #5C7B4280;
    --color-badges-rating-T: rgba(237, 219, 34, 0.67);
    --color-badges-rating-M: #F6900280;
    --color-badges-rating-E: #F4433680;

    --color-rel-ff: #E91E6380;    /* Рожевий */
    --color-rel-mm: #2196F380;    /* Блакитний */
    --color-rel-fm: #9C27B080;    /* Фіолетовий */
    --color-rel-gen: rgba(84, 168, 28, 0.5);   /* Сірий (нейтральний) */
    --color-rel-multi: #FF572280; /* Помаранчево-червоний */
    --color-rel-other: #607D8B80; /* Сизо-сірий */

    /* Status */
    --color-status-ongoing: #03A9F480;   /* Яскравіший блакитний */
    --color-status-completed: #4CAF5080; /* Зелений */
    --color-status-freezed: #79554880;

    --color-btn-nocur-1: #557A46; /* Насичений зелений */
    --color-btn-nocur-2: #E66A43; /* Яскравий корал */
    --color-btn-nocur-3: #F69002D9; /* Сонячний бурштин */

    --color-btn-cur-1: #3D5532;   /* Глибокий ліс */
    --color-btn-cur-2: #C44D29;   /* Випалена глина */
    --color-btn-cur-3: #976a18;

    --color-panel-bg: rgba(92, 123, 66, 0.70);

}

[data-theme="dark"] {
    --color-bg: #2E2623;
    --color-text: #FAF3E0;
    --color-text-additional: #666;

    --color-btn-nocur-1: #5C7B42;
    --color-btn-nocur-2: #E25E28;
    --color-btn-nocur-3: #F69002;

    --color-btn-cur-1: #3E4C32;
    --color-btn-cur-2: #D5451B;
    --color-btn-cur-3: #E9B20D;
}
